@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

*{
    font-family: 'Roboto', sans-serif;
  

}

body{
  background-color: #F8FAFB;
}
.first-container-img {
  background-image: url("../src/resources/Blurred.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
